header {
    margin-top: 20px;
    color: #333333;
}

footer {
    text-align: center;
}

.container-fluid {
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #333333;
    width: 98%;
}

/* 分かりやすくするため */
.box1 {
    background-color: #ffddff;
}
/* 分かりやすくするため */
.box2 {
    background-color: #ccffff;
}

/* サイドバー */
.nav-item {
    text-align: center;
    font-size: 20px;
    margin: 20px 10px;
}

/* ログアウトの */
.logout {
    margin-top: 400px;
}
